main {
  display: flex;
  flex-flow: row nowrap;
  height: 75vh;
}
.container {
  padding: 10px;
  border: 2px black solid;
}
#left {
  flex-grow: 2;
  overflow-y: hidden;
  border-right: none;
}
#right {
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
}
.event {
  height: 20px;
  margin: 0;
  padding: 0;
}
.input-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.details {
  border-top: 2px black solid;
  overflow-y: scroll;
  height: 100%;
}
.inputs {
  padding: 5px;
}